body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background: rgb(80 80 80);
    user-select: none;
    min-height: 100dvh;
    transition: background-color 3s ease;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#main{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 350px;
    padding: 10px;
    box-sizing: border-box; 
}

#show{
    background: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:end;
    padding-right: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 2s ease, color 1s ease;
}

#result{
    width: 100%;
}

#resultBT{
    width: 100%;
    border-radius: 10px;
    height: 60px;
    cursor: pointer;
    background: white;
    border-color: burlywood;
    border-width: 3px;
}

#allButtons{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.buttons{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.button{
    height: 60px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    background: white;
    border: 3px solid burlywood;
}

#themeBT{
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background: white;
    border: 3px solid burlywood;
    transition: background-color 2s ease, color 1s ease;
}